- content_for(:title, 'Job Trends')

h1.center.page-title Job Trends
#chart.chart

.center.mt-4.mb-5
  = link_to 'Choose Technologies and Locations', '#','data-target' => '#filterTrends', 'data-toggle' => 'modal'
= render 'layouts/search',
        modal_id: 'filterTrends',
        form_url: trends_path,
        title: 'Choose Technologies and Locations',
        show_keywords: false,
        selected_technologies: trends_technologies,
        selected_locations: trends_locations

javascript:
  var posts = #{{@posts.map { |m| { id: m.id, name: m.short_name } }.to_json}}
  var technologies = #{{@technologies.map { |t| { id: t.id, name: keyword_name(t) } }.to_json}}
  var counts = #{{@counts.map { |k| { technology_id: k.id, post_id: k.post_id, jobs_count: k.count } }.to_json}}

  google.charts.load('current', {'packages': ['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart () {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Month')

    technologies.forEach(function(technology) {
      data.addColumn('number', technology.name)
    })

    posts.forEach(function(post) {
      var row = [post.name]

      technologies.forEach(function (technology) {
        var count = counts.find(function (t) {
          return t.technology_id === technology.id && t.post_id === post.id
        })
        row.push(count ? count.jobs_count : 0)
      })

      data.addRow(row)
    })

    var chart = new google.visualization.LineChart(document.getElementById('chart'));
    var options = { width: '100%',
      legend: { position: 'bottom' },
      vAxis: { baseline: 0, format: '#' },
      hAxis: { slantedText: true },
      chartArea: { height: '80%', width: '90%' } }

    if (window.innerWidth > 959) {
      options.legend = 'right'
      options.chartArea = { height: '85%', top: 20 }
    } else {
      options.legend = 'bottom'
      options.chartArea = { width: '85%', height: '78%' }
    }

    chart.draw(data, options);
  }

  $(window).resize(function () {
    drawChart();
  });


