$green: #18bc9c;

html {
  font-size: 1rem;
}

@media (min-width: 577px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 769px) {
  html {
    font-size: 1.2rem;
  }
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.6em;
}

body {
  overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: $green;
}

.navbar {
  background: #2c3e50;
  font-family: Arial, sans-serif;
}

.navbar .navbar-header {
  width: 100%;
  padding: 5px 0;
}

.navbar .navbar-header a {
  color: white;
  text-decoration: none !important;

  &:hover {
    color: $green;
    text-decoration: underline !important;
  }
}

.navbar a:focus {
  outline: 0;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
  outline: 0;
}

.navbar-default {
  border: 0;
}

.odd {
  background-color: #FBF3E9;
}

ul.comments, ul.months {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

li.comment {
  margin: 0;
  padding: 25px 5px 15px;
}

li.month {
  margin: 0;
  padding: 40px 0;
}

.published-at {
  margin-bottom: 8px;
}

li.comment .container {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

li.comment .body {
  overflow: hidden;
}

li.comment p {
  margin-top: 15px;
  margin-bottom: 15px;
}

li.comment.collapsed .body p {
  display: none;

  &:first-child, &:nth-child(2) {
    display: block;
  }
}

li.comment .toggle-collapsed-button {
  overflow: hidden;
  padding-bottom: 15px;

  a {
    color: #565656;
    font-size: 0.95em;
    text-decoration: none;
  }

  a i {
    font-size: 0.9em;
    margin-left: 5px;
  }
}

li.comment .toggle-collapsed-button {
  .more {
    display: none;
  }

  .less {
    display: block;
  }
}

li.comment.collapsed .toggle-collapsed-button {
  .more {
    display: block;
  }

  .less {
    display: none;
  }
}

.comment .user a {
  text-decoration: underline;
  color: $green;
  font-weight: bold;
}

.comment a.bordered {
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid $green;
  font-size: 14px;
}

.gray {
  color: #767676;
}

code {
  white-space: pre-line;
}

.title {
  color: white;
  font-size: 1.1rem;
  margin-top: 7px;
}

.title a {
  text-decoration: none;
  color: #27B33C;
}

.title a:hover {
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden, .reply {
  display: none;
}

.green {
  color: $green;
}

.page-title {
  margin-top: 30px;
  color: #424242;
}

.page-title a {
  color: #424242;
}

.page-subtitle {
  @extend .gray;
  font-size: 1.1em;
}

.center {
  text-align: center;
}

.next-container {
  margin-left: auto;
  margin-right: auto;
}

a.next.btn {
  margin-top: 20px;
  margin-bottom: 40px;
  color: $green;
  border-color: $green;
  text-align: center;
  width: 100%;
  display: block;
}

a.next.btn:hover {
  background-color: #e0f2f1
}

.search-icon {
  margin-top: 3px;
  font-size: 1.3em;
  color: white !important;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #007bff;
}
